<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @content.slave %>
</p>

<p>
  <strong>Image1 uid:</strong>
  <%= @content.image1_uid %>
</p>

<p>
  <strong>Image1 name:</strong>
  <%= @content.image1_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @content.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @content.sort %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
